tmp/
slides/
literature/
paper/
dev/
src/*.o
src/*.mod
src/*.x
src/*.bak
src/*.swp
.DS_Store
manual/*.aux
manual/*.fls
manual/*.log
manual/*.gz
manual/*.texit
manual/*.toc
manual/*.mk
manual/*.out
sample/*/*.dat
sample/*/*.pdf
sample/*/fort.*
sample/*/*.log
sample/*/*.fls
sample/*/*.aux
sample/*/*.fdb_latexmk
sample/*/*.bak
sample/*/*.pyc
sample/*/*.bigstick
test/
*/*/*.lcoef
*/*/*.wfn
*/*/*.log
*/*/*.bigstick
*/*/*.out
*/*/*.
*__pycache__*
