# Coefficient matrix (non-relativistic)
# Ommitted values are assumed to be 0.0.
# c_i^t
# i = 1,...,16
# t: p=proton n=neutron s=scaler v=vector
#control name	 i	coupling	c_i^t
coefnonrel    7    n            c7
coefnonrel    8    n            c8
wimpmass 500.0
vearth 232.0
maxwellv0 220.0
vescape 550.
dmdens 0.3
intpoints 1000
usemomentum 0
useenergyfile 0
ntscale  2500.0
