# Coefficient matrix (non-relativistic)
coefnonrel      OPERATOR       n       1.0
wimpmass 150.0
vearth 232.0
maxwellv0 220.0
dmdens 0.3
intpoints 1000
usemomentum 0
useenergyfile 0
ntscale 2500.0
printdensities 1
