# Coefficient matrix (non-relativistic)
# Ommitted values are assumed to be 0.0.
# c_i^t
# i = 1,...,16
# t = 0 protons, 1 neutrons
#control name	 t	i	c_i^t
coefnonrel      1       1       1.0
wimpmass MASS_KEYWORD
vearth 232.0
maxwellv0 220.0
#vescape 544.
dmdens 0.3
intpoints 1000
usemomentum 0
useenergyfile 0
